.parent {
  display: flex;
  width: 375px;
  flex-direction: column;
  height: 812px;
}
.header {
  display: flex;
  width: 10%;
  justify-content: space-around;
  align-items: center;
}

.text {
  font-family: "Open sans", sans-serif;
  font-size: 18px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutMeSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items:center; */
  height: 200px;
  padding: 50px 10px;
}
.button {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 16px;
  border-radius: 31px;

  font-family: "Open sans", sans-serif;
  font-size: 21px;
  font-weight: "600px";

  position: fixed;
  bottom: 10px;
  width: 345px;
  cursor: pointer;
}
.bloodGroupSection {
  padding: 70px 0px;
}
.fileUploadSection {
  border: 1px solid lightgrey;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chipContainer{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
}
.chipInput {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  width: 400px;
  overflow-x: scroll;
}

.chipInput::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chipInput {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
